/public/
/build/
/test/
/node_modules/
tailwind.config.js
tsconfig.json
webpack.config.js
babel.config.js
postcss.config.js
rollup.config.js
bun.lockb
/.storybook/
/src/test/

# Index files
./index.d.ts
./index.ts